@{
    ViewData["Title"] = "Rezultat";
}
<h2>@ViewBag.Rezultat</h2>
<a class="btn btn-primary" asp-action="Index">Nazad na borbu</a>
<a class="btn btn-danger" asp-controller="Stranka" asp-action="Index">Pocetna</a>